@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #BB99DD;
}

.Ellipse{
    position: absolute;
    width: 213px;
    height: 213px;
    left: 612px;
    top: 201px;

    border: 2px solid var(--purple);
    border-radius: 23%;
    box-sizing: border-box;
}

.Mask{
    width: 200px;
    height: 200px;
    left: 619px;
    top: 207px;
    border-radius: 23%;
}

.instagram {
    position: absolute;
    width: 99px;
    height: 24px;
    left: 669px;
    top: 429px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: var(--purple);
}

.instagram p{
    font-weight: 300;
}

.link1{
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 486px;

    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
}

.link1 p{
    position: absolute;
    width: 47px;
    height: 24px;
    left: 130px;
}

.link2 {
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 551px;

    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
}

.link2 p{
    position: absolute;
    width: 326px;
    height: 24px;
    left: 130px;
}

.link3{
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 616px;

    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
}

.link3 p{
    position: absolute;
    width: 326px;
    height: 24px;
    left: 130px;
}

.link4 {
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;
    top: 681px;

    border: 2px solid #BB99DD;
    box-sizing: border-box;
    border-radius: 4px;
}

.link4 p{
    position: absolute;
    width: 326px;
    height: 24px;
    left: 130px;
}