@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');


:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

.eclipse{
    width: 210px;
    height: 210px;
    border: 2px solid var(--purple);
    border-radius: 50%;
    box-sizing: border-box;
}

.mask{
    position: absolute;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.profile {
    /* top right bottom left */
    width: 210px;
    height: 290px;
    background-color: var(--bg-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.links {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 210px;
    height: 310px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 0 30px 0px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.tecnologia {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 210px;
    height: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 0 30px 0px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.exp {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 210px;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0 30px 0px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.educacao {
    background-color: #302F3D;
    border-radius: 20px;
    width: 210px;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0 30px 0px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.myProjects{
    position: absolute;
    left: 250px;
    top: 10px;
    width: 500px;
    background-color: var(--bg-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.folder{
    position: absolute;
    left: 250px;
    top: 100px;
    width: 500px;
    background-color: var(--bg-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.posts{
    position: absolute;
    left: 250px;
    top: 260px;
    width: 500px;
    background-color: var(--bg-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}



p {
    text-align: center;
    color: var(--text-color);
}