@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');


:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

.main {
    display: flex;
}

.Eclipse{
    width: 213px;
    height: 213px;
    left: 612px;
    top: 201px;

    border: 2px solid var(--purple);
    border-radius: 50%;
    box-sizing: border-box;
}

.Mask{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.profile {
    /* top right bottom left */
    background-color: var(--body-bg-color);
}

.links {
    background-color: var(--body-bg-color);
}

.tecnologias {
    background-color: var(--body-bg-color);
}
  
.experiencia {
    background-color: var(--body-bg-color);
}

p {
    text-align: center;
    color: var(--text-color);
}

.MyProjects{
    position: relative;
    left: 50px;
    background-color: var(--body-bg-color);
}