@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');


:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    text-decoration: none;
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: "Merriweather Sans", sans-serif;
  }
  
.container {
    display: flex;
    padding: 40px;
}

.profile {
    position: relative;
    width: 500px;
    right: 10px;
}

.photo {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 32px 0 32px 0px;
    height: 290px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img{
    /* retira o posicionamento original */
    position: absolute;
    padding: 2px;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 100px;
    width: 128px;
    height: 128px;
}

.name {
    font-weight: 700;
    font-size: 23px;
    padding: 200px 0px 10px 0px;
}

.cargo{
    font-weight: 300;
    font-size: 13px;
    padding-top: 10px 0px 5px 0px;
}

.mediaSocial {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 100%;
    height: 240px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border: 50px;
}

.mediaSocial p {
    padding: 6px 20px 0px 20px ;
}

.tecnologia {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 100%;  
    height: 200px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 0 30px 0px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.techs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.projects{
    width: 100%;
    min-width: 100px;
}

.myProjects{
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 100%;
    height: 76px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 32px 89px 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}